<app-game-list-filter (filter)="onFilter($event)"></app-game-list-filter>

<hr>

<div class="actions">
  <button routerLink="new" class="primary">Ajouter un jeu</button>
</div>

<section class="card-list">
  <header>
    <h1>Our games</h1>
  </header>

  <div class="actions">
    <button (click)="width = width - 10">-</button>
    <button (click)="width = width + 10">+</button>
    <button (click)="onResetSize()" class="danger">=</button>
  </div>

  <main #myCards>
    <!-- Draw card. -->
    <article *ngFor="let g of games" class="card" [ngStyle]="{width: width + 'px'}">
      <header>
        <div>
          <h1>{{ g.name }}</h1>
          <div class="spacer"></div>
          <span *ngIf="g.note">{{ g.note }}/10</span>
        </div>
        <div>
          <small>{{ categories(g) }}</small>
        </div>
      </header>
      <img [src]="g.coverImage" [alt]="'Cover image of ' + g.name">
      <main>
        <p [innerHTML]="makeDesc(g)">
        </p>
      </main>
      <footer class="actions">
        <button [routerLink]="[g.id]" [state]="g" class="primary">Voir</button>
        <button [routerLink]="[g.id, 'edit']" class="danger">Editer</button>
      </footer>
    </article>
  </main>
</section>
