<app-game-list-filter></app-game-list-filter>

<hr>

<section class="card-list">
  <header>
    <h1>Our games</h1>
  </header>

  <div class="actions">
    <button (click)="width = width - 10">-</button>
    <button (click)="width = width + 10">+</button>
    <button (click)="onResetSize()" class="danger">=</button>
  </div>

  <main #myCards>
    <!-- Draw card. -->
    <article *ngFor="let g of games" class="card" [ngStyle]="{width: width + 'px'}">
      <header>
        <div>
          <h1>{{ g.name }}</h1>
          <div class="spacer"></div>
          <span>{{ g.note }}/10</span>
        </div>
        <div>
          <small>{{ g.type }}</small>
        </div>
      </header>
      <img [src]="g.coverImage" [alt]="'Cover image of ' + g.name">
      <main>
        <p [innerHTML]="makeDesc(g)">
        </p>
      </main>
      <footer class="actions">
        <app-game-list-actions
          (action)="onAction($event, g)"
        ></app-game-list-actions>
      </footer>
    </article>
  </main>
</section>
