<form class="row" (submit)="$event.preventDefault(); onSubmit()">
<!-- <form class="row" (ngSubmit)="onSubmit()"> -->
<!-- <form class="row" (ngSubmit)="onSubmit(form)" #form> -->
  <div class="form-group col-md-4">
    <label for="name">Nom du jeu</label>
    <input type="text" class="form-control" id="name" (change)="onChange('name', $event.target.value)">
  </div>

  <!-- <mat-form-field formControlName="name">
    <mat-label translate>GAME.LIST.FIELDS.NAME</mat-label>
    <input matInput>
  </mat-form-field> -->

  <div class="form-group col-md">
    <label for="type">Type de jeu</label>
    <select name="type" id="type" class="form-control"  (change)="onChange('type', $event.target.value)">
      <option value="">Aucun</option>
      <option *ngFor="let type of types">{{ type }}</option>
    </select>
  </div>

  <div class="form-group col-md">
    <label for="editor">Editeur du jeu</label>
    <input type="text" class="form-control" id="editor" (change)="onChange('editor', $event.target.value)">
  </div>

  <div class="actions col-sm-12 d-flex justify-content-center">
    <input type="submit" value="Filtrer" class="primary">
    <input type="reset" value="RAZ" class="danger">
  </div>
</form>
