li {
  cursor: pointer;

  &.finished {
    text-decoration: line-through;
    color: gray;
    font-style: italic;
  }
}

.tags {
  position: relative;
  span { // One tag
    background-color: blue;
    border: 1px solid navy;
    padding: 2px;
    border-radius: 15%;
  }
}
